<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blogspot.vsvydenko.yafotki_muzei">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".YaFotkiMuzeiSourceApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">

        <service
            android:name=".YandexFotkiArtSource"
            android:description="@string/source_description"
            android:icon="@drawable/ic_launcher"
            android:label="@string/source_name" >
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtSource" />
            </intent-filter>

            <meta-data
                android:name="settingsActivity"
                android:value="com.blogspot.vsvydenko.yafotki_muzei.SettingsActivity" />
            <meta-data
                android:name="color"
                android:value="#FF8800" />

        </service>

        <activity
            android:name="com.blogspot.vsvydenko.yafotki_muzei.SettingsActivity"
            android:exported="true"
            android:label="Settings"
            android:theme="@style/Theme.YandexFotki"/>

    </application>

</manifest>
